html{
  font-size: 16px;
}

body, html{
  width:100%;
  height: 100%;
}

body{
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  background: $white;
}


li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}


h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom:0;
  font-weight: normal;
}

img{
  width:100%;
  height:auto;
}


a{
  text-decoration:none;
  color:white;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-width: rem($min_width)+rem(20px);
}

.wrapper:after{
  content: "";
  display: block;
  height: $height_footer;
}

.footer{
  height: $height_footer;
  margin-top: -$height_footer;
  width:100%;
  position: relative;
  min-width: $min_width;
}

.container{
  margin: 0 auto;
  width: $min_width;
  padding: 0 10px;
}

.clearfix:after{
  display: block;
  clear: both;
}


.visually-hidden:not(:focus):not(:active)
{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn{
    background-color:black;
    color:white;
    font:inherit;
    vertical-align:middle;
    text-align:center;
    text-transform: uppercase;
}